<%= render 'shared/page_title', title: "Listing all recipes" %>

<div class="col-md-10 offset-md-11 mb-2">
  <%= link_to  "Create Recipe", new_recipe_path %>
</div>

<%= render "recipes", obj: @recipes%>